.dropdown-display-menu {
  position: relative;
}

.dropdown-display-menu .dropdown-menu-label-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  box-shadow: 0 0 0.25rem #12121242;
  background-color: #fff;
  cursor: pointer;
}

.dropdown-display-menu .dropdown-menu-label {
  color: #282a2f;
  font-weight: bold;
}

.dropdown-display-menu .dropdown-menu-content {
  position: absolute;
  top: 2.5rem;
  padding: 1.25rem 1.5rem;
  border-radius: 1rem;
  background-color: #f8f9fb;
  box-shadow: 0 0 0.125rem #0007;
  width: 30%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropdown-display-menu .dropdown-menu-content:not(.visible) {
  display: none;
}

.dropdown-display-menu .dropdown-menu-content-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dropdown-display-menu .dropdown-menu-content-label {
  color: #8a8b8c;
  font-weight: bold;
}

.dropdown-display-menu select {
  background-color: #fefffe;
  outline: none;
  border: 1px solid #d8d8d8;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
